URxvt.perl-ext-common: default,clipboard,resize-font,matcher
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.reset: C-equal

